@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Maven+Pro:wght@400;600&family=Source+Sans+3:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bowlby One', sans-serif;
}

html,
body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    position: relative;
    background-color: #1E1E1E;
}

#main {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
}

#nav {
    /* background-color: crimson; */
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 90%;
    color: #E9E3DC;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#nav-right {
    display: flex;
    align-items: baseline;
    gap: 1rem;
}

#nav h2 {
    color: #E9E3DC;
    font-size: 2rem;

}

#nav h4 {
    color: #E9E3DC;
    font-size: 1.2rem;
}


#nav-right button {
    background-color: #D1EF53;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 7px;
    padding: 0.5rem 1rem 0.5rem 1rem;
}


#header {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: calc(100% - 100px);
    position: relative;
    display: flex;
    justify-content: center;
}


#header h2 {
    color: #E9E3DC;
    text-align: center;
    font-size: 4rem;
    line-height: 4rem;
    width: 70%;
}


#header img {
    position: absolute;
    top: 31%;
    width: 80%;
    height: auto;
}

#about {
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    height: 35%;
    background-color: #D1EF53;
    display: flex;
    justify-content: space-between;
    padding: 4rem;
    border-radius: 1.1rem;
}

#about h2 {
    text-transform: uppercase;
    font-size: 2rem;
    width: 40%;
    line-height: 2rem;
}

#about #inner {
    font-size: 1.1rem;
    width: 50%;
    line-height: 1em;

}

#about #inner button {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    border: 2px solid black;
    background-color: #E9E3DC;
    border-radius: 7px;
}

#menu {
    width: 90%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 3rem;

}


#left {
    width: 100%;
    height: 100%;
    position: relative;
}

#left img {
    width: 100%;
    height: 100%;
}

#left-inner {

    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 2rem;
    width: 60%;
    height: 25%;
    background-color: #1E1E1E;
    position: absolute;
    bottom: 4%;
    left: 5%;
}

#left-inner h2 {
    padding: 0 1rem 0 2rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.3rem;
    line-height: 1.5rem;
}

#left-inner h4 {
    padding: 0rem 1rem 0 2rem;
    color: #B3A0CD;
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 2rem;
}


#right {
    width: 100%;
    height: 100%;
    position: relative;
}

#right img {
    width: 100%;
    height: 100%;
}

#right-inner {

    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 2rem;
    width: 60%;
    height: 25%;
    background-color: #1E1E1E;
    position: absolute;
    bottom: 4%;
    left: 5%;
}

#right-inner h2 {
    padding: 0 1rem 0 2rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.3rem;
    line-height: 1.5rem;
}


#right-inner h4 {
    padding: 0rem 1rem 0 2rem;
    color: #B3A0CD;
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 2rem;
}

#banner {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


#banner h2 {
    font-size: 3rem;
    text-align: center;
    color: #D1EF53;
    text-transform: uppercase;
    padding: 2rem 0 2rem 0;

}

#banner img {
    width: 100%;
}

#cta {
    width: 100%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

#cta #img-left {
    bottom: 20%;
    width: 20%;
    position: absolute;
    left: 0%;
}

#cta #img-right {
    top: 20%;
    width: 15%;
    position: absolute;
    right: 0%;
}

#cta-inner {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#cta-inner h2 {
    line-height: 3rem;
    text-align: center;
    text-transform: uppercase;
    color: #E9E3DC;
    font-size: 3rem;
}

#cta-inner button {
    font-size: 1.2rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: #D1EF53;
    border-radius: 7px;
    text-transform: uppercase;
}


#footer {
    padding: 3rem;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 40%;
    background-color: #B3A0CD;
    border-radius: 2rem;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}


#footer h2 {
    text-transform: uppercase;
    line-height: 1.3rem;
}

#footer #f2 h2 {
    text-transform: uppercase;
    line-height: 1.3rem;
}

#footer #f3 h2 {
    text-transform: uppercase;
    line-height: 1.3rem;
}


#footer #f4 h2 {
    margin-bottom: 1rem;
    text-transform: uppercase;
    line-height: 1.3rem;
}

#footer #f4 input {
    background: none;
    border-radius: 0.4rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

#footer #f4 button {
    background-color: #D1EF53;
    border: none;
    text-transform: uppercase;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 0.4rem;
}


@media (max-width:600px) {
    #nav {
        /* background-color: crimson; */
        height: 100px;
        width: 90%;
        color: #E9E3DC;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    #nav-right {
        display: none;
    }

    #nav h2 {
        color: #E9E3DC;
        font-size: 1.3rem;

    }

    #header {
        width: 90%;
        height: 40%;
        position: relative;
        display: flex;
        justify-content: center;
    }



    #header h2 {
        color: #E9E3DC;
        text-align: center;
        font-size: 1.8rem;
        line-height: 2rem;
        width: 100%;
    }

    #header img {
        position: absolute;
        top: 31%;
        width: 100%;
        height: auto;
    }

    #about {
        width: 90%;
        height: 35%;
        background-color: #D1EF53;
        padding: 2rem;
        border-radius: 1.1rem;
        display: flex;
        flex-direction: column;
        text-align: center;

    }

    #about h2 {
        width: 100%;
        text-transform: uppercase;
        font-size: 1rem;
        line-height: 1rem;
    }

    #about #inner {
        width: 100%;
        font-size: 0.8rem;
        line-height: 1rem;

    }

    #about #inner button {
        font-size: 0.8rem;
        padding: 0.5rem 1rem;
        margin-top: 1rem;
        border: 2px solid black;
        background-color: #E9E3DC;
        border-radius: 7px;
    }

    #menu {
        display: flex;
        flex-wrap: wrap;
        margin-top: 3rem;
    }

    #left-inner {

        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 2rem;
        width: 70%;
        height: 30%;
        background-color: #1E1E1E;
        position: absolute;
        bottom: 4%;
        left: 5%;
    }

    #left-inner h2 {
        padding: 0 1rem 0 2rem;
        color: #fff;
        text-transform: uppercase;
        font-size: 1rem;
        line-height: 1.2rem;
    }

    #left-inner h4 {
        padding: 0rem 1rem 0 2rem;
        color: #B3A0CD;
        text-transform: uppercase;
        font-size: 1rem;
        line-height: 2rem;
    }

    #right-inner {

        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 2rem;
        width: 70%;
        height: 30%;
        background-color: #1E1E1E;
        position: absolute;
        bottom: 4%;
        left: 5%;
    }

    #right-inner h2 {
        padding: 0 1rem 0 2rem;
        color: #fff;
        text-transform: uppercase;
        font-size: 1rem;
        line-height: 1.2rem;
    }

    #right-inner h4 {
        padding: 0rem 1rem 0 2rem;
        color: #B3A0CD;
        text-transform: uppercase;
        font-size: 1rem;
        line-height: 2rem;
    }

    #banner h2 {
        font-size: 1.5rem;
        text-align: center;
        color: #D1EF53;
        text-transform: uppercase;
        padding: 2rem 0 2rem 0;

    }

    #cta-inner {
        width: 100%;
        display: flex;

    }


    #cta-inner h2 {
        line-height: 2rem;
        text-align: center;
        text-transform: uppercase;
        color: #E9E3DC;
        font-size: 1.5rem;
    }

    #cta #img-left {
        bottom: 80%;
        width: 20%;
        position: absolute;
        left: 0%;
    }

    #cta #img-right {
        top: 70%;
        width: 15%;
        position: absolute;
        right: 0%;
    }

    #footer {
        padding: 2rem;
        background-color: #B3A0CD;
        border-radius: 2rem;
        display: flex;
        flex-wrap: wrap;
        height: 50%;

    }

    #footer #f4 h2 {
        font-size: 1rem;
        margin-bottom: 1rem;
        text-transform: uppercase;
    }

    #footer #f4 input {
        background: none;
        border-radius: 0.4rem;
        padding: 0.5rem 1rem 0.5rem 1rem;
        margin-bottom: 0.4rem;
    }

    #footer #f4 button {
        background-color: #D1EF53;
        border: none;
        text-transform: uppercase;
        padding: 0.5rem 1rem 0.5rem 1rem;
        border-radius: 0.4rem;
    }

}